body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100%;
}

.sidebar {
    width: 200px;
    padding: 0;
    border: 1px solid black;
}

.sidebar button {
    display: block;
    width: 100%;
    padding: 15px;
    text-align: left;
    cursor: pointer;
    border: 1px solid black;
}



.main {
    flex-grow: 1;
    padding: 20px;
    display: block;
    gap: 20px;
}

.header {
    text-align: center;
    font-size: 24px;
}

#search, .add-member {
    border: 1px solid black;
    padding: 20px;
}

.search h2, .add-member h2 {
    font-size: 18px;
    margin-bottom: 15px;
}

.form-row {
    display: block;
    margin-bottom: 15px;
}

.form-row label {
    width: 100px;
    margin-right: 10px;
}

#description{
    width: 400px;
}

.form-row input {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.form-row input[type="radio"] {
    flex-grow: 0;
}

.form-row .gender {
    display: block;
    gap: 15px;
}

.footer {
    font-size: 12px;
    text-align: center;
    margin-top: auto;
    border: 1px solid black;
    padding-top: 10px;
}